<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.activity.dao.Activity1UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.activity.entity.Activity1User">
        <id column="id" property="id" />
        <result column="activityId" property="activityId" />
        <result column="userId" property="userId" />
        <result column="want" property="want" />
        <result column="remark" property="remark" />
        <result column="supportNum" property="supportNum" />
        <result column="status" property="status" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, activityId, userId, want, remark, supportNum, createTime
    </sql>
    <select id="getActivityUserList" resultType="java.util.Map">
        select * from activity_1_user where activityId = 1
        <foreach collection="table.search" item="item" index="index" separator="and" open="and">
            ${item.key} ${item.symbol} #{item.value}
        </foreach>
        <if test="table.sort != null">
            order by
            ${table.sort}
            ${table.sortType}
        </if>
    </select>

</mapper>
