<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.activity.dao.Activity1UserImgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.activity.entity.Activity1UserImg">
        <id column="id" property="id" />
        <result column="activityId" property="activityId" />
        <result column="userId" property="userId" />
        <result column="img" property="img" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, activityId, userId, img
    </sql>
    <insert id="insertAll">
        insert into
        activity_1_user_img (id, activityId, userId, img)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.activityId}, #{item.userId}, #{item.img})
        </foreach>
    </insert>

</mapper>
