<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.admin.dao.AuthGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.admin.entity.AuthGroup">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="remark" property="remark"/>
        <result column="authType" property="authType" />
        <result column="rules" property="rules" />
        <result column="instId" property="instId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, remark, authType, rules, instId
    </sql>
    <select id="getAuthGroupPage"
            resultType="com.cloud.admin.entity.AuthGroup">
        select * from ad_authgroup
        <where>
            <foreach collection="table.search" item="item" index="index" separator="and" open="and">
                ${item.key} ${item.symbol} #{item.value}
            </foreach>
        </where>
    </select>

</mapper>
