<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.admin.dao.InstMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.admin.entity.Inst">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="cityId" property="cityId" />
        <result column="address" property="address" />
        <result column="addressDetail" property="addressDetail" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, cityId, address, addressDetail, createTime
    </sql>

    <select id="getInstNameListByIdList" resultType="java.util.Map">
        select * from inst where id in
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
