<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.user.dao.UserFromMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.user.entity.UserFrom">
        <id column="userId" property="userId" />
        <result column="friendId" property="friendId" />
        <result column="saleId" property="saleId" />
        <result column="instId" property="instId" />
        <result column="fromType" property="fromType" />
        <result column="fromId" property="fromId" />
        <result column="device" property="device" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userId, friendId, saleId, instId, fromType, fromId, device
    </sql>

</mapper>
